@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.container {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}

.icon {
  margin-left: auto;
  margin-right: auto;
}

.mainCard{
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Jua', sans-serif;
  padding: 0em 0.5em 0em 0.5em;
  border: 0px solid;
  border-radius: .5em;
  /* background-color: #2cacb5; */
  text-align: center;
  /* color: white; */
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.dayCard{
  font-family: 'Jua', sans-serif;
  padding: 0em 0.5em 0em 0.5em;
  border: 0px solid;
  border-radius: .5em;
  /* background-color: #2cacb5; */
  align-items:center;
  /* color: white; */
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

h2 {
  font-family: 'Jua', sans-serif;
}